<!doctype html>
<html lang="en" class="h-full bg-gray-100">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <% if (options.developmentMode) { %>
    <link rel="stylesheet" href="<%= baseURI %>/public/css/output.css" />
    <% } else { %>
      <link rel="stylesheet" href="<%= baseURI %>/public/css/main.min.css" />
      <% } %>
</head>

<body class="h-full">
  <div class="min-h-full">
    <%- include('../partials/ui/nav') %> <%- include('../partials/ui/header') %>
        <main>
          <%- include('../partials/ui/error') %>
            <div id="content" class="py-6 mx-auto max-w-7xl sm:px-6 lg:px-8"><%- content %></div>
        </main>
  </div>
  <% if (options.developmentMode) { %>
    <script src="<%= baseURI %>/public/js/vendor/htmx@1.9.3/htmx.js"></script>
    <script src="<%= baseURI %>/public/js/vendor/alpinejs@3.12.3/alpinejs.js"></script>
    <script src="<%= baseURI %>/public/js/main.js"></script>
    <% } else { %>
      <script src="<%= baseURI %>/public/js/vendor.min.js"></script>
      <script src="<%= baseURI %>/public/js/main.min.js"></script>
      <% } %>
</body>

</html>
